/nexpinger
/burrito_out/
/priv/bin/icmp_helper.exe
/priv/bin/*.pdb
/tmp/

# --- Elixir (GitHub official) ---
/_build/ 
/cover/ 
/deps/ 
/doc/ 
/.fetch 
erl_crash.dump 
*.ez 
*.beam 
/config/*.secret.exs 
.elixir_ls/ 

# --- VSCode (GitHub official) ---
.vscode/

# --- other editors ---
# Vim/editor swap files
*.swp
# Backup files
*~
