/exping_next
/burrito_out/
/priv/bin/icmp_helper.exe
/priv/bin/*.pdb

# --- Elixir (GitHub official) ---
/_build/ 
/cover/ 
/deps/ 
/doc/ 
/.fetch 
erl_crash.dump 
*.ez 
*.beam 
/config/*.secret.exs 
.elixir_ls/ 

# --- VSCode (GitHub official) ---
.vscode/

# --- other editors ---
*.swp           # Vim/エディタの一時ファイル 
*~              # バックアップファイル 
